@font-face {
  font-family: Roboto;
  src: local(Roboto-Regular), url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Italic), url(../assets/fonts/Roboto/Roboto-Italic.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: Roboto;
  src: local(Roboto-Bold), url(../assets/fonts/Roboto/Roboto-Bold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
